<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/dash_board.css')}}">
    <title>Dash Board</title>
</head>

<body>
    {% include "navbar.html"%}
    <br />

    <div align="center">

        <h3>Dash Board</h3>

        <div class="row1 centered">
            <div>
                <a href="{{url_for('new_details')}}">
                    <button class="btn">Create New</button>                
                </a>
            </div>
            <div>
                <a href="{{url_for('modify')}}">
                    <button class="btn">Modify</button>                
                </a> 
            </div>
            <div class="passBtn">
                <a href="{{url_for('password_change')}}">
                    <button class="btn">Password Change</button>
                </a>
                
            </div>
          </div>

          <div class="row2 centered">
            <div>
                    <button class="btn">Encryption</button>              
            </div>
            <div>
		    <a href="{{url_for('decrypt')}}">
			<button class="btn">Decryption</button>
		</a>
              </div>
            <div>
              <button class="btn">Secret Sharing</button>
            </div>
            <div>
                
            </div>
          </div>

    </div>
    <br>
    <br>
</body>

</html>
