<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{url_for('static', filename='css/edit.css')}}">
    <title>Decrypt</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>
    {% include "navbar.html"%}
    <br />

    <h3 align="center"> Choose details to decrypt </h3>
    <br />

    <div align="center">
	    <form action = "POST" action = "/decrypted">
	    	<select name = "decrypt" id = "decrypt">
		    	<option value = "ssn">Social Security</option>
		    	<option value = "bank">Bank Account Number</option>
		    	<option value = "all">All</option>
    	    	</select>
		</br>
    		</br>
		</br>
		</br>
		</br>
		</br>
	    	<button type = "submit" name = "submit">Decrypt</button>
	     </form>
    </div>
    <br>
    <br>
</body>

</html>
