<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/edit_details.css')}}">
    <style>
        .center {
            padding: 70px 0;
            text-align: center;
        }
    </style>
</head>

<body>
    {% include "navbar.html"%}
    {% set user_bank_acc = session["edit_all_dec_val_bank"] %}
    {% set user_ssn = session["edit_all_dec_val_ssn"] %}

    <div class="center">
        <form method = "post" action = "/write_to_file" >
            <h2>Edit Bank A/C Number</h2>
            <input type="text" id="bankacc" name="bankacc" value= "{{ user_bank_acc }}">
            <br>
            <br>
            <h2>Edit SSN</h2>
            <input type="text" id="ssn" name="ssn" value="{{ user_ssn }}">
            <br>
            <br>
            <input type="submit" name="submit">
        </form>
    </div>
</body>

</html>