<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{url_for('static', filename='css/edit.css')}}">
    <title>Edit</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <style>
        body {
            background-color: #F8F9FA;
        }

        h3 {
            color: #007BFF;
        }

        button {
            background-color: #007BFF;
            color: #FFFFFF;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            font-size: 18px;
            cursor: pointer;
        }

        button:hover {
            background-color: #0062CC;
        }

        a {
            text-decoration: none;
        }
    </style>
</head>

<body>
    <br />

    <h3 align="center"> Log In </h3>
    <br />

    <div align="center">

        <a href="{{url_for('glogin')}}"><button>Login using Google</button></a>

    </div>
    <br>
    <br>
</body>

</html>
