<div>
  <style>
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
    }

    li {
      float: left;
    }

    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    li a:hover {
      color: rgb(144, 144, 144);
    }

    .active {
      background-color: #5a5d5c;
    }
  </style>
  </head>
<body></body>
  <ul>
    <li><a href="{{'dash_board'}}">Home</a></li>
    <li style="float:right"><a class="active" href="{{url_for('glogout')}}">Logout</a></li>
  </ul>

</div>