<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>New Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>
  {% include "navbar.html"%}
    <br />

    <h3 align="center"> Enter Details below </h3>
    <br />

    <div align="center">

      <form method="POST" action="{{'dash_board'}}">

        <div class="bankDiv">
            <text class="banktext">Bank Name </text>
            <input type="text" name="bank_name">
          </div>
          
          <br />
  
          <div id="userDiv">
            <text class="accounttext"> Account ID </text>
            <input type="text" name="account_id"/>
          </div>
          <br />
          <div id="passwordDiv">
            <text class="passwordtext"> Password </text>
            <input 
              type="password" name="password"/>
          </div>
          <br/>
          <div class="sSNDetails">
            <text class="ssntext">Social Security </text>
            <input 
              type="password" name="social_security" />
          </div>
          <br/>
          <div>
            <!-- <a href="{{'dash_board'}}"> -->
              <button type="submit">Submit</button>
            <!-- </a> -->
        </div>
          
        </div>

      </form>

          
    </div>
    <br>
    <br>
</body>

</html>