<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <!-- <link rel="stylesheet" href="{{url_for('static', filename='css/edit.css')}}"> -->
    <title>Old Password</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>
    {% include "navbar.html"%}
    <br />

    <h3 align="center"> Change Password </h3>
    <br />

    <div align="center">
        <form method="POST">
        <div id="passwordDiv">
            <text className="passwordtext" name="old_password"> Enter Old Password </text>
	    <input type="password" name = "old_password"></input>
            <br />
            <br/>
            <div>
                    <button class="btnPassChange" type="submit">Next</button>
            </div>
          </div>
        </form>
    </div>
    <br>
    <br>
</body>

</html>
