<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <!-- <link rel="stylesheet" href="{{url_for('static', filename='css/edit.css')}}"> -->
    <title>New Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>
    {% include "navbar.html"%}
    <br />

    <h3 align="center"> Change Password </h3>
    <br />

    <div align="center">
        <!-- <form method="POST"> -->
        <div id="passwordDiv">
            <text className="passwordtext" name="new_password"> Enter New Password </text>
            <input
              type="password"
            />
            <br />
            <br/>
            <div>
                <a href="{{'dash_board'}}">
                    <button class="btnPassChange" type="submit">Change Password</button>

                </a>
            </div>
          </div>
        <!-- </form> -->
    </div>
    <br>
    <br>
</body>

</html>