<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Share Secret Link</title>
    <script>
        function verify() {
            let shareLinkButton = document.getElementById("shareLinkButton");
            let verificationMessage = document.getElementById("verificationMessage");

            // need to call to decide "isVerified" is true or not 
            let isVerified = true;

            if (isVerified) {
                shareLinkButton.style.display = "block";
                verificationMessage.style.display = "none";
            } else {
                shareLinkButton.style.display = "none";
                verificationMessage.style.display = "block";
            }
        }
    </script>
    <style>
        #shareLinkButton, #verificationMessage {
            display: none;
        }
    </style>
</head>
<body>
    <h1>Share Secret Link</h1>

    <h2>Select a file</h2>
    <input type="file" id="fileInput">
    <button onclick="verify()">Verify</button>

    <h2>Actions</h2>
    <button id="shareLinkButton">Share Link</button>
    <p id="verificationMessage">Verification failure</p>

</body>
</html>
